body {
    padding: 0;
    margin: 0;   
}
.header{
    width: 100%;
    height: auto;
    background-color: rgba(50, 255, 255, 0.9); 
}
.menu {
    display: flex;
    justify-content: space-around;
}
.menu_ul {
    list-style: none;
    display: inline-block;
}
.menu_ul_item {
    display: inline-block;
    margin-left: 20px;
}
.menu_ul_item_link{
    text-decoration: none;
    margin:auto;
    font-size: 20;
    font-weight: bold;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    
}
.left-container {
    width: 60%;
    background-color: rgba(244, 245, 244, 0.973);
}
.right-container{
    width: 40%;
    background-color: rgba(139, 25, 233, 0.9);
}
.footer{
    width: 100%;
    height: 50px;
    background-color: skyblue;
}
.footer_contact {
    margin: auto;
}
.form-test{
    
    width: 40%;
    height: auto;
    background-color: rgba(255, 50, 50, 0.9);
    border: 2px solid red;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: auto;
    margin-top: 20px ;
}
.title_test_id{
    text-align: center;
    font-size: 20;
    font-family: sans-serif;
    padding: auto;
}
.btn-success {
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.btn-test{
    background-color:rgb(216, 213, 29) ;
    width: 50%;
    height: 35px;
    border-radius: 20px;
    outline: none;
    border: 2px solid rgba(252, 255, 50, 0.884);
}

.time_col {
    padding: 10px;
}
.form_upfile{
    width: 50%;
    height: auto;
    margin: auto;
}
.input_file {
    margin-top: 50px;
}
.form_import {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn_import{
    background-color: rgba(0, 255, 42, 0.959);
    border-radius: 0%;
    height: 50px;
    width: 30%;
    font-size: 15;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: 2px solid  hsla(120, 4%, 95%, 0.712);
    border-radius: 4px;
    outline: none;
}
.list_file{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 50, 50, 0.9);
}
.group_form{
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.left_group_form{
    width: 25%;
    height: 1080px;
    background-color: rgb(234, 235, 236);
}
.right_group_form{
    width: 75%;
    height: 1080px;
    background-color:rgba(243, 239, 239, 0.979) ;
}
.right_group_form_header{
    width: 100%;
    height: 35%;
    background-color: rgba(243, 237, 237, 0.938);
}
.right_group_form_container{
    width: 100%;
    height: auto;
    border-top: 5px solid rgb(248, 248, 248);
    background-color: rgba(243, 237, 237, 0.938);
    padding: 20px;
}
.right_group_form_header{
    
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.right_group_form_header_list{
    list-style: none;
    margin-top: 3.5%;
    margin-right: 25%;
}
.right_group_form_header_list_items{
    display: inline-block;
}
.input{
    font-weight: bold; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20;
}
.btn_upload{
    outline: none;
    width: 20%;
    height: 6%;
    background-color: springgreen;
    border: 2px solid springgreen;
    font-size: 20;
    font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.center{
    display: flex;
    justify-content: center;
}
.menu_ul_item_1{
    display: block;
    list-style: none;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 20;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu_ul_item_link_1{
    text-decoration: none;
}
.icon_nav{
    margin-right: 20px;
}
.user_group{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: auto;
}
.user_form_exam{
    overflow: auto;
    margin: 15px;
}
.user_group_container{

    margin-top: 10%;
}
.title_exam{
    font-size: 20;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
.btn_start{
    display: flex;
    justify-content: center;
    margin: auto  ;
    width: 100%;
    align-items: center;
}
.btn-success{
    color: white;
    width: 30%;
    height: 2%;
    background-color: rgba(15, 48, 235, 0.932);
    border-radius: 5px;
    border: 3px solid rgba(15, 48, 235, 0.932);
    outline: rgba(15, 48, 235, 0.995) ;
}

.container_take_form{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.select_exam{
    display: flex ;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.time_start{
    display: flex;
    justify-content: center;
}

.left_container_take_form{
    width: 50%;
    height: 650px;
}
.right_container_take_form {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 650px;
    overflow: scroll;

}
.frame_pdf{
    margin-left: 3%;
    width: 90%;
    height: 650px;
}
.question_1{
    font-size: 20;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20%;
}
.question_id {
    margin: auto;
}
.question_dis{
    width: 80px;
    height: 40px;
}
.right_container_take_form_2{
    width: 50%;
    height: auto;
}
.btn_container_x{
    margin: 10px 20px;
}
.btn-submit{
    color: white;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(15, 48, 235, 0.995);
}
.btn_ques_x{
    margin: 10px 10px;
    width: 50px;
    height: 50px;
}
.addColor{
    background-color: rgba(0, 255, 42, 0.959);
}
.btn_select_type{
    display:none; 
    margin-bottom: 5%;
    font-size: 15; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgba(243, 239, 239, 0.979);
    width: 20%;
    margin : 5%;
    height: 30px;
    border-radius:4px;
    outline: none ;
    border : 4px solid rgba(243, 239, 239, 0.979);
}